@primary: #0383c0;

body {
padding-top: 20px;
padding-bottom: 20px;
}

.navbar{
background:#fff url(../images/Abbas.png) repeat-x;
margin-top: 30px;
color: #fff;
border: 1px #ccc solid;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
 .navbar-default .navbar-nav>.active>a:hover,.navbar-default a:hover{
 	background-color: none;
 	color: #0383c0;
 	font-weight: bold;
 }

 .logo{
 	width: 100%;
 	margin: 40px 0 0 0,
 	font-family: 'Oswald', sans-serif;
 }

 .primary{
 	color: #0383c0 ;
 }

 .subtext{
 	color: #666;
 	font-size: 16px;
 	font-weight: bold;
 	margin: 10px 0 0 45px;
 }

 header form{
 	float: right;
 	margin-top: 30px;
 	background: #0383c0;
 	padding: 15px;
 	color: #fff;
 	border-radius: 5px;

 }

 .jumbotron{
 	overflow: auto;
 	padding: 0 !important;
 }

 .jumbotron p{
 	font-size: 15px;
 }

 .tablist{
 	float: left; 
 	padding: 0;
 	margin: 0;
 	width: 30%;
 }

 .tablilst li{
 	background: #ccc;
 	list-style: none;
 	color: #666;
 	padding: 15px 10px;
 	padding-left: 20px;
 	margin-bottom: 5px;
 	width: 100%;
 	font-size: 15px; 
 }

 .tablist li.active{
 	background: #0383c0;
 	color: #fff; 
 }

 .tablist li.active a{
 	background: #0383c0;
 	color: #fff; 
 }

 .tablist a{
 	color: #666;
 	display: block;
 }

 .tab-content{
 	float: right;
 	width: 70%;
 	background: #0383c0;
 	color: #fff;
 	overflow: hidden;
 	padding-top: 20px;

 }

 .slide-img{
 	float: left;
 	width: 50%
 }

 .tab-text{
 	float: left;
 	width: 40%; 
 	margin-left: 40px; 
 }

footer{
	text-align: center;
	height: 60px;
	background: #f4f4f4;
	padding-top: 20px;
	margin-top: 50px;
}

 @media(max-width: 960px){
 	header form{
 		width: 100% !important;
 	}
}


 @media(max-width: 768px){
 	.slide-img{
 		display: none;
    }
    .tab-text{
    	float: none;
    	width: 80%;
    }

    .navbar a{
    	color: #fff !important;
    }

    .navbar a:hover{
    	color: #fff !important;
    }

    .navbar form{
    	display: none;
    }
}

@media(max-width: 600px){
 	.tab-content{
 		height: 350px;
 	}
}

